<app-masthead></app-masthead>
<app-user-list></app-user-list>
<div *ngFor="let message of messages">
    <span *ngIf="message.type != 'server';">{{message.username}}</span>
    <span *ngIf="message.type == 'message';">
        to 
            <span *ngFor="let user of message.users">{{user}}</span>
    </span>
    <span>{{message.payload}}</span>
    <span *ngIf="message.type != 'server';">{{message.timestamp}}</span>
</div>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send</button>
<input ng2FileSelect name = "photo" type="file" accept=".jpg" [uploader]="uploader"/>
<button type="button" class="btn btn-success btn-s"
      (click)="uploader.uploadAll()" 
      [disabled]="!uploader.getNotUploadedItems().length">
      Upload with ng-2 file uploader
</button>
<input id="photo" type="file" />
<button type="button" class="btn btn-success btn-s" (click)="upload()">
Upload with method 2
</button>